<p>detail works!</p>
*****************************************************************************************************************
<form [formGroup]="productForm" aria-readonly="true">
    <div class='row mx-sm-5'>
        <!-- titulo -->
        <div class="col">
            <label>
                <strong>ID</strong>
            </label>
            <input class="form-control mt-2" formControlName="id" type="text" readonly>
        </div>

        <div class="col">
            <label>
                <strong>Nombre</strong>
            </label>
            <input class="form-control mt-2" formControlName="name" type="text">
        </div>

        <!-- boton editar -->
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success" (click)='editar()'>
                    Editar
                </button>
            </div>
        </div>
    </div>

    <!-- descripcion e imagen-->
    <div class='row mt-5'>
        <!-- descripcion -->
        <div class="col">
            <label>
                <strong>Descripción</strong>
            </label>
            <input class="form-control mt-2" formControlName="description" type="text" rows="5">
        </div>

        <!-- imagen -->
        <div class="col">
            <img [src]='item.image' alt="imagen del producto">
        </div>
    </div>

    <!-- categoria -->
    <div class="row mt-2">
        <div class="col">
            <label>
                <strong>Tipo</strong>
            </label>
            <input type="text" class="form-control mt-2" formControlName="typeName">
        </div>
    </div>

    <!-- cantidad y cantidad max -->
    <div class="row mt-5">
        <!-- cantidad -->
        <div class="col">
            <label>
                <strong>Ecistencias</strong>
            </label>
            <input type="text" class="form-control mt-2" formControlName="quantity">
        </div>
        <!-- umbral superior -->
        <div class="col">
            <label>
                <strong>Umbral máximo</strong>
            </label>
            <input type="text" class="form-control mt-2" formControlName="quantityMax">
        </div>
    </div>

    <!-- barra de progreso -->
    <div class="mt-5">
        <progressbar [max]="100">
            <span class="text-nowrap">
                {{ ( item.quantity * 100 ) / item.quantityMax }} %
            </span>
        </progressbar>
        <small>
            <em>
                Porcentaje de Existencias
            </em>
        </small>
    </div>

    <div class="mt-5">
        <button class="btn btn-primary mt-5">
            volver
        </button>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success" (click)='save()' type="button">
                Guardar
            </button>
        </div>
    </div>
</form>

<br><br><br>

*****************************************************************************************************************