<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <h3 class="h3 mt-5 font-weight-normal text-center">
            Registro de Usuario
        </h3>

        <!-- Errors -->
        <div *ngIf="errors?.name" class="alert alert-danger mt-3">
            {{ errors?.name }}
        </div>
        <div *ngIf="errors?.email" class="alert alert-danger mt-3">
            {{ errors?.email }}
        </div>
        <div *ngIf="errors?.password" class="alert alert-danger mt-3">
            {{ errors?.password }}
        </div>
        <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
            {{ errors?.password_confirmation }}
        </div>

        <!-- Signup form -->
        <div class="container mx-auto mt-5" style="width: 650px;">
            <div class="form-group">
                <label class="mt-1" for="Nombre">Nombre</label>
                <input formControlName="name" type="text" class="form-control mt-2" placeholder="Introduce Nombre">
            </div>
            <div class="form-group">
                <label class="mt-3" for="email">Email</label>
                <input formControlName="email" type="email" class="form-control mt-2" placeholder="Introduce tu Email">
                <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con terceros</small>
            </div>
            <div class="form-group">
                <label class="mt-3" for="pass">Contraseña</label>
                <input formControlName="password" type="password" class="form-control mt-2" placeholder="Introduce tu Contraseña">
                <small id="passHelp" class="form-text text-muted"> Minimo 6 caracteres </small>
            </div>
            <div class="form-group">
                <label class="mt-3" for="pass">Confirmacion de Contraseña</label>
                <input formControlName="password_confirmation" type="password" class="form-control mt-2" placeholder="Confirma tu Contraseña">
            </div>

            <button type="submit" class="btn btn-block btn-primary mx-auto mt-4">
                Registrar
            </button>
            
        </div>
    </form>
</div>