<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

	<div class="container">

		<a class="navbar-brand">Uwu</a>

		<button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
			[attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">

					<!-- cosas antes de registrarte -->

				<li class="nav-item">
					<a class="p-2 nav-link" *ngIf="!user" [routerLink]="['/auth/login']">
						Log in
					</a>
				</li>

				<li class="nav-item">
					<a class="p-2 nav-link" *ngIf="!user" routerLink="/auth/register">
						Register
					</a>
				</li>


				<!-- cosas una vez registrado -->

				<li class="nav-item active">
					<a class="p-2 nav-link" *ngIf="user" [routerLink]="['/users/profile/', user.id]"
						routerLinkActive="router-link-active" aria-current="page">
						{{'perfil' | pFirstLetterMayus }}
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" aria-current="page" *ngIf="user" [routerLink]="['/budgets']"
						routerLinkActive="router-link-active">
						{{'presupuestos' | pFirstLetterMayus }}
						<!-- pipe que pone la 1 letra en mayus -->
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="user" aria-current="page" [routerLink]="['/products']"
						routerLinkActive="router-link-active">
						{{'productos' | pFirstLetterMayus }}
					</a>
				</li>
			</ul>
			
			<!-- al sacar este elemento de la etk ul, se va a la derecha del todo -->
			<li class="nav-item">
				<a class="nav-link" *ngIf="user" aria-current="page" [routerLink]="['']"
					routerLinkActive="router-link-active">
					<button class="btn btn-outline-danger" (click)="logOut()">
						{{'desconexión' | pFirstLetterMayus }}
					</button>
				</a>
			</li>


		</div>
	</div>
</nav>
<!-- 
<div class="container">

  <h4>Agujeros de gusano</h4>

    <div class="container">
    <p>
      pSumBy - [1,2,3]
      {{ [1,2,3] | pSumBy}}
    </p>
    
    <p>pSlice - [1,2,3,4]
      {{ [1,2,3,4] | pSlice: 2 : 2 }}
    </p>

    <p>invertColor - #fabada
      {{ '#fabada' |pInvertColour }}
    </p>

  </div>
</div>
 -->

<router-outlet></router-outlet>