<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

  <div class="container">

    <a class="navbar-brand" href="#">Budgets</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/budgets']"
            routerLinkActive="router-link-active">{{'budgets' | pFirstLetterMayus}}</a> <!-- pipe que pone la 1 letra en mayus -->
        </li>
        <a class="nav-link" aria-current="page" [routerLink]="['/products']"
          routerLinkActive="router-link-active"> {{ 'productos' | pFirstLetterMayus}} </a>
      </ul>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>