<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

	<div class="container">

		<a class="navbar-brand">Uwu</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">

					<!-- cosas antes de registrarte -->

				<li class="nav-item">
					<a class="p-2 nav-link" *ngIf="!user" [routerLink]="['/auth/login']">
						Log in
					</a>
				</li>

				<li class="nav-item">
					<a class="p-2 nav-link" *ngIf="!user" routerLink="/auth/register">
						Register
					</a>
				</li>


				<!-- cosas una vez registrado -->

				<li class="nav-item active">
					<a class="p-2 nav-link" *ngIf="user" [routerLink]="['/users/profile/', user.id]"
						routerLinkActive="router-link-active" aria-current="page">
						{{'perfil' | pFirstLetterMayus }}
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="user" [routerLink]="['/budgets']"
						routerLinkActive="router-link-active" aria-current="page">
						{{'budgets' | pFirstLetterMayus }}
						<!-- pipe que pone la 1 letra en mayus -->
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="user" aria-current="page" [routerLink]="['/products']"
						routerLinkActive="router-link-active">
						{{'productos' | pFirstLetterMayus }}
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- 
<div class="container">

  <h4>Agujeros de gusano</h4>

    <div class="container">
    <p>
      pSumBy - [1,2,3]
      {{ [1,2,3] | pSumBy}}
    </p>
    
    <p>pSlice - [1,2,3,4]
      {{ [1,2,3,4] | pSlice: 2 : 2 }}
    </p>

    <p>invertColor - #fabada
      {{ '#fabada' |pInvertColour }}
    </p>

  </div>
</div>
 -->

<router-outlet></router-outlet>