<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container">

    <div class="container">
        <button class="btn btn-primary" [routerLink]="['add']" routerLinkActive="router-link-active">
            Añadir
        </button>
    </div>
    
    <br>

    <app-table [data]="products" [headers]="t_headers" [buttons]="actions"></app-table>

</div>