<div class="container mt-5">
    <div class="card inner-main">
        <div class="card-header">
            product  {{product.id}} => {{ product.name}}
        </div>
        <div class="card-body">
            <p class="card-text">
                Cantidad:
                <strong>
                    {{ product.cuantity }}
                </strong>
            </p>
            <p class="card-text">Email:
                <strong>
                    
                </strong>
            </p>
        </div>
    </div>
</div>