<div>
    <h1>
        Detalles del producto
    </h1>
</div>

<div *ngIf="product" class="container">
    <form [formGroup]="productForm" ng-readonly="none">
        <div class='row mx-sm-5'>
            <!-- titulo -->
            <div class="col">
                <label>
                    <strong>ID</strong>
                </label>
                <input class="form-control mt-2" formControlName="id" type="text" readonly>
            </div>

            <div class="col">
                <label>
                    <strong>Nombre</strong>
                </label>
                <input class="form-control mt-2" formControlName="name" type="text" [disabled]="disable">
            </div>

            <!-- estrellita de prioridad -->
            <div class="col">
                <ng-template *ngIf='product.prio; then ON else OFF'></ng-template>
                <ng-template #ON>
                    <button class="btn" (click)='fav()'>
                        <img src="../../../../assets/iconos/destellos.png" height="40" width="55" alt="fav">
                    </button>
                </ng-template>
                <ng-template #OFF>
                    <button class="btn" (click)='fav()'>
                        <img src="../../../../assets/iconos/destellosBlancoYNegro.png" height="40" width="55"
                            alt="No fav">
                    </button>
                </ng-template>
            </div>

            <!-- boton editar -->
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success" (click)='edit()'>
                        Editar
                    </button>
                </div>
            </div>

        </div>

        <!-- descripcion e imagen-->
        <div class='row mt-5'>
            <!-- descripcion -->
            <div class="col">
                <label>
                    <strong>Descripción</strong>
                </label>

                <input class="form-control mt-2" formControlName="description" type="text" rows="5"
                    [disabled]="disable">
                <!-- <input class="form-control mt-2" formControlName="description" type="text" rows="5"  readonly> -->
            </div>

            <!-- imagen -->
            <div class="col">
                <ng-container *ngIf="product.image; then imagen else notFoundIMG"></ng-container>
                <ng-template #imagen>
                    <img [src]='product.image' alt="imagen del producto">
                </ng-template>
                <ng-template #notFoundIMG>
                    <img src='../../../../assets/glitch-error-404-page-background_23-2148090409.jpg' alt="imagen del producto">
                </ng-template>

                <app-image></app-image>
            </div>
        </div>

        <!-- categoria -->
        <div class="row mt-2">
            <div class="col">
                <label>
                    <strong>Categorizacion</strong>
                </label>
                <input type="text" class="form-control mt-2" formControlName="typeName" [disabled]="disable">
            </div>

            <div class="col">
                <label>
                    <strong>Precio x unidad</strong>
                </label>
                <input type="text" class="form-control mt-2" formControlName="price" [disabled]="disable">
            </div>


        </div>

        <!-- cantidad y cantidad max -->
        <div class="row mt-5">
            <!-- cantidad -->
            <div class="col">
                <label>
                    <strong>Existencias</strong>
                </label>
                <input [formControl]='quantityNow' type="text" class="form-control mt-2" formControlName="quantity"
                    [disabled]="disable">
                <div class="invalid-feedback">
                    Introduce solo numeros
                </div>
            </div>
            <!-- umbral superior -->
            <div class="col">
                <label>
                    <strong>Umbral máximo</strong>
                </label>
                <input [formControl]='quantityMaxNow' type="text" class="form-control mt-2"
                    formControlName="quantityMax" [disabled]="disable">
                <div class="invalid-feedback">
                    Introduce solo numeros
                </div>
            </div>
        </div>

        <!-- barra de progreso -->
        <div class="row mt-5">
            <div class="col">

                <div class="progress position-relative" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" [style]="progressbar()" aria-valuenow=""
                        aria-valuemin="0" aria-valuemax="100"></div>
                    <small class="justify-content-center d-flex position-absolute w-100">
                        <strong> {{ porcentaje}} % </strong>
                    </small>
                </div>

                <small>
                    <em>
                        Porcentaje de Existencias
                    </em>
                </small>
                <section class="mt-5" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <button class="btn btn-primary" [routerLink]="['/products']">
                        volver
                    </button>
                    <button class="btn btn-success" (click)='save()' type="button">
                        Guardar
                    </button>
                </section>


            </div>


            <!--         <div class="row mt-5">
            <div class="col">
                <button class="btn btn-primary mt-5" [routerLink]="['/products']">
                    volver
                </button>
            </div>

            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success" (click)='save()' type="button">
                        Guardar
                    </button>
                </div>
            </div>-->
        </div>
    </form>
</div>